.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.messages {
  display: flexbox;
  border: 1px solid black;
  height: 80vh;
  width: 80vw;
  overflow: scroll;
  padding: 0;
  list-style-type: none; margin: 0; padding: 0;
}

.messages > li {
  padding: 0.5rem 1rem;
}

.messages > li:nth-child(odd) {
  background: #6e4949;
}

.messageForm {
  background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); 
}

.messageForm > button {
  background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff;
}

.messageInput {
  border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem;
}

.currentRoom {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  margin-top: 0;
  background-color: rgb(16, 19, 18);
  width: 90vw;
  height: 40px;
}
.currentRoom > button {
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1rem;

}

.message {
  font-size: 18px;
  text-decoration: none;
}

.message > h4 {
  font-size: 15px;
  text-decoration: none;
}
.message > h5 {
  font-size: 10px;
  text-decoration: none;
}

.currentUser {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 1000px;
  left: auto;
  border: 1px solid white;
  font-size: 25px;
}
.currentUser > button {
  font-size: 15px;
  margin-left: 10px;
}

.inputRoom {
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 100px;
}

.Roomname {
  font-size: 20px;
}